<form class="form-signin text-center" (ngSubmit)="onAddSmartPhone()" [formGroup]="signUpForm">
  <h2 class="form-signin-heading">Add new smartphone</h2>
  <div class="form-group">
    <label for="add-title" class="sr-only">Brand Model</label>
    <input type="text" id="add-title" class="form-control" placeholder="Brand Model" formControlName="title" required>
  </div>
  <div class="form-group">
    <label for="add-display" class="sr-only">Display</label>
    <input type="text" id="add-display" class="form-control" placeholder="Display" formControlName="display" required>
  </div>
  <div class="form-group">
    <label for="add-camera" class="sr-only">Camera</label>
    <input type="text" id="add-camera" class="form-control" placeholder="Camera" formControlName="camera" required>
  </div>
  <div class="form-group">
    <label for="add-cpu" class="sr-only">CPU</label>
    <input type="text" id="add-cpu" class="form-control" placeholder="CPU" formControlName="cpu" required>
  </div>
  <div class="form-group">
    <label for="add-price" class="sr-only">Price</label>
    <input type="text" id="add-price" class="form-control" placeholder="Price" formControlName="price">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
</form>
<div class="left" *ngFor="let smartPhone of smartPhones | async">
  <a [routerLink]="['/product/', smartPhone.id]">
    <div class="row">
      <div class="col-md-4 col-md-offset-5">
        <div class="card mt-4 imgColor">
          <div class="img">
            <img class="card-img-top img-fluid" src="{{smartPhone.image}}" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-5">
        <div class="card mt-4">
          <div class="card-body">
            <h3 class="card-title">{{smartPhone.title}}</h3>
            <h5>Price: 244.99$</h5>
            <h4>Display</h4>
            <p class="card-text">
              {{smartPhone.display}}</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> 4.0 stars
          </div>
        </div>
      </div>
    </div>
  </a>
  <hr/>
</div>