<aside id="filter" class="col-lg-3 col-md-3 col-sm-4 col-xs-11 shadow">
  <input id="show-all-products" type="checkbox" checked="checked" name="" value="">
  <label for="show-all-products">Show all</label>

  <h4>Filter by Display</h4>
  <div class="sub-filter">
    <div>
      <input id="filter-display-4.5" type="checkbox" name="dogAgeSpecific" value="4.5">
      <label for="filter-age-4.5">4.5` </label>
      <input id="filter-display-5" type="checkbox" name="dogAgeSpecific" value="5">
      <label for="filter-age-4.5">5` </label>
      <input id="filter-display-5.5" type="checkbox" name="dogAgeSpecific" value="5.5">
      <label for="filter-age-5.5">5.5` </label>
    </div>
  </div>
  <h4>Filter by Cmera</h4>
  <div class="sub-filter">
    <div>
      <input id="filter-camera-5-MP" type="checkbox" name="amountInKg" value="5 MP">
      <label for="filter--camera-5-MP">5 MP </label>
      <input id="filter-camera-8-MP" type="checkbox" name="amountInKg" value="8 MP">
      <label for="filter--camera-8-MP">8 MP </label>
      <input id="filter-camera-13-MP" type="checkbox" name="amountInKg" value="13 MP">
      <label for="filter--camera-13-MP">13 MP </label>
    </div>
  </div>
  <h4>Filter by CPU</h4>
  <div class="sub-filter">
    <div>
      <input id="filter-cpu-Quad-core 1.2" type="checkbox" name="dogSizeSpecific" value="Quad-core 1.2">
      <label for="filter-cpu-Quad-core 1.2">Quad 1.2 </label>
      <input id="filter-cpu-Quad-core 1.4" type="checkbox" name="dogSizeSpecific" value="Quad-core 1.4">
      <label for="filter-cpu-Quad-core 1.4">Quad 1.4 </label>
      <input id="filter-cpu-Octa-core 2.4" type="checkbox" name="dogSizeSpecific" value="Octa-core 2.4">
      <label for="filter-cpu-Octa-core 2.4">Octa 2.4 </label>
    </div>
  </div>
  <button id="filter-dog-food-button" class="btn btn-primary btn-lg" type="button">Filter</button>
</aside>


<div class="left" *ngFor="let smartPhone of smartPhones | async">
  <div class="row">
    <div class="col-md-4 col-md-offset-5">
      <div class="card mt-4 imgColor">
        <div class="img">
          <img class="card-img-top img-fluid" src="{{smartPhone.image}}" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-5">
      <div class="card mt-4">
        <div class="card-body">
          <h3 class="card-title">{{smartPhone.title}}</h3>
          <h5>Price: 244.99$</h5>
          <h4>Display</h4>
          <p class="card-text">
            {{smartPhone.display}}</p>
          <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> 4.0 stars
        </div>
      </div>
    </div>
  </div>
  <a [routerLink]="['/product/', smartPhone.id]" class="btn btn-success">View more</a>
  <hr />
</div>
<p class="text-center">
  <button (click)="onScroll()" class="btn">View more products...
    </button>
</p>

<div class="notification is-warning" *ngIf="finished">End... Taht`s all!!!</div>