.left{
  margin-left:30%;
}
.img{
  margin:auto;
}
.card-body{
  background-color: #edeff1;
}

.btn{
  width:32%;
  margin-bottom:1rem; 
  cursor: pointer;
}
h4{
  color:grey;
}
.card{
  height: 105%;
  background-color: #edeff1;
}
.imgColor{
  border: none !important;  
  background-color:rgba(237, 239, 241, 0.00);
  height: 50%;
}
#filter {
  padding: 10px;    
  background: #edeff1; 
  position: fixed;
}


