<div class="row">
  <!-- Column -->
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <a href="/users/admin/dashboard-smartphones">
      <div class="card card-inverse card-info">
        <div class="box bg-info text-center">
          <h1 class="font-light text-white">{{(smartPhones | async)?.length}}</h1>
          <h6 class="text-white">Smartphones</h6>
        </div>
      </div>
    </a>
  </div>
  <!-- Column -->
  <div class="col-md-6 col-lg-3 col-xlg-3">
    <div class="card card-primary card-inverse">
      <a href="/users/admin/dashboard-users">
        <div class="box text-center">
          <h1 class="font-light text-black">{{(listOfUsers | async)?.length}}</h1>
          <h6 class="text-black">Users</h6>
        </div>
      </a>

    </div>
  </div>
</div>