<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Market Place <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav mr-right my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/sign-in">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/sign-up">Register</a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
  <!-- there is home page rout and view template html -->
</main>

<div class="footer-bottom" style="background-color:black; padding: 16px; position:fixed; bottom:0; width:100%;  z-index: 10">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          Single-page | Angular
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-left: 300px;">
        <div class="design">
          <a href="">Market Place</a> | <a target="_blank" href="">The Mellow Sheep</a>
        </div>
      </div>
    </div>
  </div>
</div>