<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <form class="form-signin text-center" (ngSubmit)="onSignUpFormSubmit()" [formGroup]="signUpForm">
        <div *ngIf="authError" class="alert alert-danger" role="alert">
          {{authError}}
        </div>
        <h2 class="form-signin-heading">Register a new account</h2>
        <div class="form-group">
          <label for="sign-up-username" class="sr-only">User name</label>
          <input type="username" id="sign-up-username" class="form-control" placeholder="User name" formControlName="username" required>
        </div>
        <div class="form-group">
          <label for="sign-up-email" class="sr-only">Email address</label>
          <input type="email" id="sign-up-email" class="form-control" placeholder="Email address" formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="sign-up-password" class="sr-only">Password</label>
          <input type="password" id="sign-up-password" class="form-control" placeholder="Password" formControlName="password" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <div class="margin-top-10">
          <a class="login-link" routerLink="/users/sign-in">Already have an account? Sign in here!</a>
        </div>
      </form>
    </div>
  </div>
</div>