<p>
  dashboard-users works!
</p>
<div class="left" *ngFor="let user of users | async">
    <a [routerLink]="['/product/', user.userId]">
      <div class="row">
        <div class="col-md-4 col-md-offset-5">
          {{user.username}}
        </div>
        <div class="col-md-8 col-md-offset-5">
          <div class="card mt-4">
            <div class="card-body">
              <h3 class="card-title">{{user.name}}</h3>
            </div>
          </div>
        </div>
      </div>
    </a>
    <hr/>
  </div>