<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-3 text-center mt-4">Market place for mobile phone</h1>
      </div>
      <div class="col-lg-8">
        <img src="../../assets/img/samsung-alaxy-j7-2016-background.png">
      </div>
      <div class="col-sm-4 contact">
        <h2 class="mt-4"><a class="nav-link" routerLink="/about">Contact</a></h2>
        <address>
          <strong>Start find us</strong>
          <br>3481 Melrose Place Samsung mobile phone
          <br>Beverly Hills, CA 90210 Sinemorec :)
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr> (123) 456-7890
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">marketplace@sinemorec.com</a>
        </address>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="mt-4">What We Do</h2>
      <p>GSM SINEMOREC GROUP CORP. was opened in December 2006 to serve and provide service around world. We retail and Wholesaler
        our products with a competitive price. We serve South America, North America, Central America, Caribbean, Europe
        and Canada.
      </p>
      <p>The essence of our business is to foresee and satisfy our client’s needs with high-quality products and services. Together
        we set new performance standards for our business and our selves. We do our best to comply with the highest standards
        of customer service and satisfaction by being flexible and individually approaching our client’s requirements. We
        consider our client’s success our own success.
      </p>
      <p>GSM Sinemorec GROUP CORP. has developed and implemented strict quality controls to assure products free of deficiencies
        and their characteristics and performance are as expected. Our ambition is to build long-term relationships with
        our client’s and strive to offer the most competitive prices in the market.
      </p>
      <p>Our primary goal is to facilitate and enable you, The Client, to acquire any type of products you need and bring them
        directly to you. Our company is the key for those who can not find the goods and the quantities they require readily
        available, or at prices that would still allow them to compete with in the market. GSM Sinemorec GROUP CORP. is your
        select provider.
      </p>
      <p>
        If by any chance you cannot find what you're looking for, contact us, and we guarantee we can obtain it within 72 hours.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" routerLink="/products-list">All products &raquo;</a>
      </p>
    </div>
  </div>
  <!-- /.row -->
  <hr />
  <div class="row">
    <div *ngFor="let product of products | async" class="col-sm-3 my-3">
      <div class="card">
        <div class="imgColor">
          <img class="card-img-top" src="{{product.image}}" alt="">
        </div>
        <div class="card-body">
          <h4 class="card-title">{{product.title}}</h4>
          <p class="card-text">{{product.display}}</p>
        </div>
        <div class="card-footer">
          <a [routerLink]="['/product/', product.id]" class="btn btn-primary">More for this product</a>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center">
    <button (click)="onScroll()" class="btn">View more products...</button>
  </p>

  <div class="notification is-warning" *ngIf="finished">End... Taht`s all!!!</div>